.main{
    background-color:#c8edff;
    height:150vh;
    position: relative;
}

.Tab_style {
    color:white;
    font-size: 18px;
    padding: 10;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.tabs{background-color:#c8edff;
height: 135vh;}